*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.gradle
/build/
**/build/
*.log
/app/key.jks
**/debug.keystore
*.class
*.apk
*.ap_
*.dex
*.cxx
*.so
*.db
.DS_Store
Thumbs.db
/coverage/
*.ec
